/*Simple CSS Styles*/


body{

    background: linear-gradient(to bottom, #000066 0%, #ff99cc 100%);
    
}

#container{
    background: linear-gradient(to top right, #ff0066 6%, #3399ff 100%);
    border-radius: 1px solid lightblue;
    text-align: center;
    border-radius:2rem;
    padding:100px;
    margin:150px 500px 0px 500px;
    height:550px;
    box-shadow: 5px 10px 18px black;
    
    
    
}



.field{
    
    font-size: large;
    border-radius:1rem;
    border:none;
    text-align:right;
    padding:20px;
    width:410px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ccffff 0%, #ffffff 100%);
}

.button{
    
    margin-top:20px;
    border-radius:1rem;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    font-family: Arial, Helvetica, sans-serif;
    padding:30px;
    width: 110px ;
    font-size: larger;
    color:black;
    
    border: 3px solid gainsboro;
    
}
.button:hover{

    background: linear-gradient(to bottom, #ffffcc 0%, #33cccc 100%);
   


}

.footer{
    margin-top:50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color:whitesmoke;
    background: linear-gradient(to bottom, #000066 0%, #ff99cc 100%);
    padding:80px;
    border-radius:2rem;
}



  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .field {
      width: 100%;
    }
  }
  .dipform{

        border:3px solid white;
        border-radius:2rem;
        padding:10px;
        margin-left:90px;
        margin-right:90px;
        box-shadow: 5px 10px 18px black;
        
       
  }

  .clear{

         
    margin-top:20px;
    border-radius:1rem;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    width: 110px ;
    font-size: larger;
    color:black;
    
    border: 3px solid gainsboro;
    

  }